language: go

notifications:
  email:
    recipients:
      - paul@myitcv.io
    on_success: change
    on_failure: always

addons:
  chrome: beta

go:
  - stable

go_import_path: myitcv.io

before_script:
  - go version
  - curl -s https://chromedriver.storage.googleapis.com/2.40/chromedriver_linux64.zip > /tmp/chromedriver_linux64.zip
  - unzip -d /tmp/chromedriver_linux64 /tmp/chromedriver_linux64.zip
  - export PATH=$PATH:/tmp/chromedriver_linux64

install: true

script:
  - ./_scripts/run_tests.sh
  - ./_scripts/check_code_is_formatted.sh
  - ./_scripts/check_git_is_clean.sh
