language: generic
sudo: required

notifications:
  email:
    recipients:
      - paul@myitcv.io
    on_success: change
    on_failure: always

env:
  global:
    - GO_111VERSION=go1.11.4
    - CHROMEDRIVER_VERSION=2.40
    - CHROME_CHANNEL=beta
  matrix:
    - GO_VERSION=go1.10.3
    - GO_VERSION=$GO_111VERSION GO111MODULE=on
    - GO_VERSION=go1.12beta1 GO111MODULE=on

services:
  - docker

before_install:
  - docker --version
  - source .docker_details
  - docker pull $DOCKER_IMAGE:$CHROME_CHANNEL | tee
  - cat Dockerfile.user | envsubst '$CHROME_CHANNEL' | docker build -t $(basename $DOCKER_IMAGE) --build-arg USER=$USER --build-arg UID=$UID --build-arg GID=$(id -g $USER) --build-arg DOCKER_WORKING_DIR=$DOCKER_WORKING_DIR -

script:
  - docker run --env-file .docker_env_file -v=/var/run/docker.sock:/var/run/docker.sock -v $PWD:$DOCKER_WORKING_DIR -v=/tmp:/tmp -w $DOCKER_WORKING_DIR --rm $(basename $DOCKER_IMAGE) ./_scripts/docker_run.sh
